

body{
  background-color: #4A494E;
  color: aliceblue;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logotipo {
  color: #8FE7E8;
  font-size: 3rem;
  margin-left: 80px;
  cursor: pointer;
  text-decoration: none;
}

.logotipo span{
  font-size: 1rem;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 940px;

}

.container_input{
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #8FE7E8;
  margin-right: 10px;
  position: relative;
}

textarea{
  background: #4A494E;
  border: none;
  resize: none;
  color: aliceblue;
  outline: none;
  width: 90%;
  height: 50vh;
}

.container_buttons{
  text-align: center;
}

.aviso{
  font-size: 13px;
}

.circulo {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #242327;
  position: relative;
  margin: 0;
  vertical-align: bottom;
}

.signo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}

button{
  color: white;
  background-color: black;
  border: 2px solid #8FE7E8;
  cursor: pointer;
  width: 49%;
}

.closed{
  position: absolute;
  top: 5px;
  right: 18px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
}

.closed:hover{
  color: #8FE7E8
}

.container_output_fail{
  display: inline-block;
  width: 49%;
  height: 100%;
  text-align: center;
  vertical-align: top;

}

img{
  display: block;
  margin: 0 auto;
}

.container_output_success {
  box-sizing: border-box;
  display: none;
  width: 49%;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #8FE7E8;
}

#parrafoSuccess{
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
  word-wrap: break-word;

}

#button_copiar{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .logotipo {
    color: #8fe7e8;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  .logotipo span {
    font-size: 0.9rem;
  }
  main {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }

  .container_input {
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #8fe7e8;
    margin: 2rem auto;
    position: relative;
  }

  textarea {
    background: #4a494e;
    border: none;
    resize: none;
    color: aliceblue;
    outline: none;
  }
  .container_output_fail {
    box-sizing: border-box;
    display: block;
    width: 90%;
    height: 100%;
    text-align: center;
    border: 1px solid #8fe7e8;
    margin: 0 auto;
    padding: 1rem;
  }

  img {
    display: none;
  }

  .container_output_success {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #8fe7e8;
  }
  #parrafoSuccess {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
  }
}




/* CSS Barra scroll */

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del riel */
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar */
  border-radius: 5px; /* Radio de borde del pulgar */
}

/* Estilo del pulgar de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar al pasar el mouse */
}


/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar,
::-moz-scrollbar,
::-ms-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track,
::-moz-scrollbar-track,
::-ms-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del riel */
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb,
::-ms-scrollbar-thumb {
  background: #888; /* Color del pulgar */
  border-radius: 5px; /* Radio de borde del pulgar */
}

/* Estilo del pulgar de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover,
::-ms-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar al pasar el mouse */
}
